label {
    display: block;
    height: 50px;
    background: transparent url('../images/plus.png') no-repeat center center;
    margin: 5px 0;
    width: 50px;
    display: none;
    cursor: pointer;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

#menu-btn {
    display: none;
}

#menu-btn:checked~label {
    transform: rotate(45deg);
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #efefef;
    font-family: Arial, Helvetica, sans-serif;
}

.menu>li>a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    font-weight: bold;
    background-color: transparent;
}

.menu>li>a:hover,
.menu>li>a:focus,
.menu>li>a:active {
    background-color: #16a085;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .menu>li {
        display: inline-block;
    }
}

@media screen and (min-width: 321px) and (max-width:1024px) {
    .menu {
        display: none;
    }
    .menu>li {
        display: block;
    }
    label {
        display: block;
    }
    #menu-btn:checked~.menu {
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .menu {
        display: none;
    }
    .menu>li {
        display: block;
        text-align: center;
    }
    label {
        display: block;
    }
    #menu-btn:checked~.menu {
        display: block;
    }
}